* text=auto

*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf

*.bat text eol=crlf
*.ps1 text eol=crlf

*.db binary
*.apk binary
*.png binary
*.webp binary
*.ico binary
*.docx binary
